<div class="navbar">
    <!-- Title -->
    <span class="title_site"><a href="/projects">ᕦ(ò_óˇ)ᕤ Project Manager</a></span>
    <!-- Add spacer, to align navigation to the right -->

    <!-- Navigation -->
    <nav class="navigation">
        <a class="nav_button" href="/projects">Projets</a>
        <!-- <a class="nav_button" href="/projects/create">Créer</a> -->
    </nav>
</div>
