<section>
    <h1>Créer un bug</h1>
    <form action="/bugs/create" method="POST">
        
        <div class="form-data">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-data">
            <label for="reproSteps">Repro steps</label>
            <textarea type="text" rows="1" id="reproSteps" name="reproSteps"></textarea>
        </div>
        <div class="form-data">
            <label for="priority">Priorité</label>
            <select name="priority" id="priority">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <input type="hidden" name="projectId" value="<%= projectId %>"/>
        <div class="form-btn">
            <a href="/projects">Retour</a>
            <button type="submit">Créer</button>
        </div>
    </form>
</section>