<section>
    <h1>Créer un bug</h1>
    <form action="/bugs/create" method="POST">
        
        <div class="form-data">
            <label for="title">Titre</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form-data">
            <label for="reproSteps">Repro steps</label>
            <textarea type="text" rows="1" id="reproSteps" name="reproSteps"></textarea>
        </div>
        <div class="form-data">
            <label for="priority">Priorité</label>
            <input type="number" name="priority" for="priority" min="1" max="5">
        </div>
        <input type="hidden" name="projectId" value="<%= projectId %>"/>
        <div class="form-btn">
            <a href="/projects">Retour</a>
            <button type="submit">Créer</button>
        </div>
    </form>
</section>