<section>
    <h1>Créer un projet</h1>
    <form action="/projects/create" method="POST">
            <div class="form-data">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form-data">
                <label for="description">Description</label>
                <textarea type="text" rows="1" id="description" name="description"></textarea>
            </div>
        <div class="form-btn">
            <a href="/projects">Retour</a>
            <button type="submit">Créer</button>
        </div>
    </form>
</section>